.switch-btn {
    display: inline-block;
    width: 34px;
    /* ширина */
    height: 16px;
    /* высота */
    border-radius: 16px;
    /* радиус скругления */
    background: #bfbfbf;
    /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    /* анимация */
}

.switch-btn::after {
    content: "";
    height: 16px;
    /* высота кнопки */
    width: 16px;
    /* ширина кнопки */
    border-radius: 17px;
    background: #fff;
    /* цвет кнопки */
    top: 0px;
    /* положение кнопки по вертикали относительно основы */
    left: 0px;
    /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms;
    /* анимация */
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: darkcyan;
}

.switch-on::after {
    left: 18px;
}


.value-language .switch-btn {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 1px;
    font-size: 12px;
    background: royalblue;
}

.value-language .switch-language {
    width: 56px;
}

.value-language .switch-on {
    background: crimson;
    justify-content: start;
    padding-left: 10px;
}

.value-language .switch-on::after {
    left: 40px;
}

/*-----------------------------------*/

.switch-imagesource input[type=radio] {
    display: none;
}

.switch-imagesource label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}

.switch-imagesource label:before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    left: 2px;
    background-color: ghostwhite;
    border-radius: 50%;
}

/* Checked */
.switch-imagesource input[type=radio]:checked+label:before {
    left: 0px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 4px solid darkcyan;
}

/* Hover */
.switch-imagesource label:hover:before {
    filter: brightness(120%);
}

/* Disabled */
.switch-imagesource input[type=radio]:disabled+label:before {
    filter: grayscale(100%);
}