.switch-btn {
    display: inline-block;
    width: 34px;
    /* ширина */
    height: 16px;
    /* высота */
    border-radius: 16px;
    /* радиус скругления */
    background: #bfbfbf;
    /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    /* анимация */
}

.switch-btn::after {
    content: "";
    height: 16px;
    /* высота кнопки */
    width: 16px;
    /* ширина кнопки */
    border-radius: 17px;
    background: #fff;
    /* цвет кнопки */
    top: 0px;
    /* положение кнопки по вертикали относительно основы */
    left: 0px;
    /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms;
    /* анимация */
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: #118c4e;
}

.switch-on::after {
    left: 18px;
}